<% flash.each do |type, msg| %>
  <div class='alert'>
    <%= msg %>
  </div>
<% end %>
<div class="title_two">Log In</div>
<%=form_with(url:sessions_path,method: "post",local:true) do |f|%>
  <div class="input_container">
    <%=f.text_field :name,autofocus:true,placeholder:"Your name here",class:'input_area' %>
    <%=f.submit "Log In", class:'input_button'%>
  </div>
<%end%>
