<div class="information_area">
  <h2 class="title_two">Register</h2>
  <%=form_with(model:@user,local:true) do |f|%>
    <div class="input_container">
      <%=f.text_field :name,autofocus:true,placeholder:"Your name here",class:'input_area' %>
      <%= f.file_field :avatar %>
      <%=f.submit "Sign Up", class:'input_button'%>
    </div>
  <%end%>
</div>