<% flash.each do |type, msg| %>
  <div class='alert'>
    <%= msg %>
  </div>
<% end %>
<div class="title">
  <h1 class="home_tittle">ACTIVITY TRACKER</h1>
  <h2>A tool to keep track of the time you spend.</h2>
</div>
