/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-color: #41403c;
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5rem;
  margin-top: 15%;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.title_two {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1rem;
}

.home_tittle {
  background-image: url(https://media.giphy.com/media/3o7aD4vlqXSNyHtGPS/giphy.gif);
  background-size: cover;
  color: transparent;
  /* stylelint-disable */
  -moz-background-clip: text;
  /* stylelint-enable */ 
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 7rem;
  line-height: 0.75;
  margin: 0;
}

.white-mode {
  text-decoration: none;
  padding: 7px 10px;
  background-color: #122;
  border-radius: 3px;
  color: #fff;
  transition: 0.35s ease-in-out;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-family: "Montserrat", sans-serif;
}

.white-mode:hover {
  background-color: #fff;
  color: #122;
}

.home_container {
  background: #aa210f;
  margin: 0;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}

.input_container {
  background: #edefee;
  border: 0.1rem solid #aa210f;
  border-radius: 1rem 0 1rem 0;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding: 3rem 0 3rem 0;
  width: 40vh;
}

.input_area {
  font-size: 1rem;
  border: 0.1rem solid #aa210f;
  border-radius: 0.3rem 0.3rem 0 0;
  padding: 0.3rem 0 0.3rem 0;
  width: 77%;
  text-align: center;
}

.input_area_two {
  font-size: 1rem;
  border: 0.1rem solid #aa210f;
  border-top: 0;
  padding: 0.3rem 0 0.3rem 0;
  width: 77%;
  text-align: center;
}

.input_button {
  background-color: #aa210f;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  width: 78%;
  border-radius: 0 0 0.3rem 0.3rem;
  padding: 0.2rem 0 0.2rem 0;
}

.create_button {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #edefee;
  text-decoration: none;
  margin: 1rem;
  justify-content: center;
}

.create_button:hover {
  background: #aa210f;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

.items_area {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.item_container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background: #edefee;
  border-radius: 1rem;
  min-width: 30vh;
  align-self: flex-start;
}

.item_container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 black;
}

.item_icon {
  width: 90%;
  height: auto;
  border-radius: 50%;
  margin: 1rem 0 1rem 0;
}

.item_info a {
  border-top: 0.2rem solid #aa210f;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 1rem 0 1rem;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: black;
  word-wrap: normal;
}

.item_tittle {
  font-family: "Montserrat", sans-serif;
  border-top: 0.2rem solid #aa210f;
  margin-bottom: 0.2rem;
  word-wrap: normal;
}

.item_text {
  font-family: "Montserrat", sans-serif;
  color: black;
  margin: 0 0 1rem 0;
}

.item_text:hover {
  text-align: center;
  background-color: #aa210f;
  width: 100%;
}

.routine_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vh;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.routine_text {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.routine_button {
  background-color: #aa210f;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 0 0 0.3rem 0.3rem;
}

.routine_container_one {
  display: flex;
  justify-content: space-around;
  background: #edefee;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-bottom: 0.2rem solid #41403c;
}

.routine_container {
  display: grid;
  grid-template-columns: repeat(3, 1rem);
  grid-template-rows: repeat(3, auto);
  justify-content: space-around;
  background: #edefee;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-bottom: 3px solid #41403c;
}

.routine_item {
  justify-self: center;
  border-bottom: 0.2rem solid #aa210f;
  border-width: 5px;
}

.user_info_area {
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
  margin-bottom: 23.5rem;
}

.user_container {
  margin-bottom: -20rem;
  width: 40%;
  background-color: #edefee;
  font-family: "Montserrat", sans-serif;
  border-bottom: 1rem solid #aa210f;
}

.user_container,
img {
  width: 40%;
}

.user_container,
h1 {
  text-align: center;
}

.group_name {
  background-color: #aa210f;
}

.sucess {
  width: 100%;
  text-align: center;
  padding: 20px;
  color: white;
  background-color: #3c3;
}

.alert {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #61e7af;
  color: white;
}

.ham {
  width: 100%;
  background-color: #aa210f;
  text-align: center;
  top: 0;
}

.home_button {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #edefee;
}

.ham label,
#hamburger { display: none; }

#return {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 1rem;
  align-items: center;
  width: 20vh;
}

#option_link {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  width: 35vh;
}

#smallHourContainer {
  display: none;
}

#all_routines {
  position: relative;
  bottom: 0;
  width: 100%;
  grid-template-columns: repeat(4, 1rem);
}

@media screen and (max-width: 768px) {
  .ham label {
    display: inline-block;
    text-align: center;
    color: white;
    background: #aa210f;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  .home_container,
  a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid #333;
    font-size: 1rem;
  }

  .ham input:not(:checked) ~ .home_container,
  a { display: none; }

  .ham input:checked ~ .home_container,
  a { display: block; }

  .title h1,
  h2 {
    font-size: 4rem;
  }

  .title,
  h2 {
    font-size: 2rem;
  }

  .items_area {
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
  }

  .item_container {
    flex-direction: row;
    max-height: 3rem;
    margin-top: 0;
    align-self: auto;
  }

  .item_icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
  }

  .item_tittle {
    border-top: none;
    border-bottom: 0.2rem solid #aa210f;
  }

  .item_info a {
    border-top: none;
  }

  .item_info h2 {
    border-bottom: 0.2rem solid #aa210f;
    font-size: 1rem;
  }

  .item_info p {
    display: none;
  }

  .create_button {
    border-top: none;
  }

  .user_info_area {
    min-height: 1vh;
    justify-content: center;
    margin-bottom: 27rem;
  }

  .user_container {
    font-size: 1rem;
  }

  #item_show h1 {
    font-size: 1rem;
  }

  #item_show p {
    display: none;
  }

  #smallHourContainer {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }

  #smallHourContainer p {
    margin: 0;
  }
}
