.items_area {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.item_container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
  background: #edefee;
  border-radius: 1rem;
  width: 30vh;
  align-self: flex-start;
}

.item_container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 black;
}

.item_container a {
  align-items: center;
  font-family: 'Proxima_Nova_Light', sans-serif;
  text-decoration: none;
  color: black;
}

.item_icon {
  width: 90%;
  height: auto;
  border-radius: 50%;
  margin: 1rem 0 1rem 0;
}

.item_info a {
  border-top: 0.2rem solid #3778c2;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 1rem 0 1rem;
  font-family: 'Proxima_Nova_Light', sans-serif;
  text-decoration: none;
  color: black;
  word-wrap: normal;
}

.item_tittle {
  font-family: 'Proxima_Nova_Light', sans-serif;
  border-top: 0.2rem solid #3778c2;
  margin-bottom: 0.2rem;
  word-wrap: normal;
}

.item_text {
  font-family: 'Proxima_Nova_Light', sans-serif;
  color: black;
  margin: 0 0 1rem 0;
}

.item_text:hover {
  text-align: center;
  background-color: #3778c2;
  width: 100%;
}
